In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head(5)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [5]:
df.describe()

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      50 non-null     object
 1   Category  50 non-null     object
 2   Value     47 non-null     float64
 3   Product   50 non-null     object
 4   Sales     46 non-null     float64
 5   Region    50 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.5+ KB

In [9]:
df.isnull().sum()

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In [10]:
df.isnull().any()

Date        False
Category    False
Value        True
Product     False
Sales        True
Region      False
dtype: bool

In [15]:
df.fillna(0)

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    0.0   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    0.0  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    0.0  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    0.0  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    0.0   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    0.0   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    0.0  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [16]:
df.dtypes

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [19]:
df.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [28]:
df=df.rename(columns={'Sales':"sale"})

In [30]:
df

          Date Category  Value   Product   Date Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [32]:
df['new value']=df['Value'].apply(lambda x:x*2)

In [33]:
df

          Date Category  Value   Product   Date Region  new value
0   2023-01-01        A   28.0  Product1  754.0   East       56.0
1   2023-01-02        B   39.0  Product3  110.0  North       78.0
2   2023-01-03        C   32.0  Product2  398.0   East       64.0
3   2023-01-04        B    8.0  Product1  522.0   East       16.0
4   2023-01-05        B   26.0  Product3  869.0  North       52.0
5   2023-01-06        B   54.0  Product3  192.0   West      108.0
6   2023-01-07        A   16.0  Product1  936.0   East       32.0
7   2023-01-08        C   89.0  Product1  488.0   West      178.0
8   2023-01-09        C   37.0  Product3  772.0   West       74.0
9   2023-01-10        A   22.0  Product2  834.0   West       44.0
10  2023-01-11        B    7.0  Product1  842.0  North       14.0
11  2023-01-12        B   60.0  Product2    NaN   West      120.0
12  2023-01-13        A   70.0  Product3  628.0  South      140.0
13  2023-01-14        A   69.0  Product1  423.0   East      138.0
14  2023-01-15        A   47.0  Product2  893.0   West       94.0
15  2023-01-16        C    NaN  Product1  895.0  North        NaN
16  2023-01-17        C   93.0  Product2  511.0  South      186.0
17  2023-01-18        C    NaN  Product1  108.0   West        NaN
18  2023-01-19        A   31.0  Product2  578.0   West       62.0
19  2023-01-20        A   59.0  Product1  736.0   East      118.0
20  2023-01-21        C   82.0  Product3  606.0  South      164.0
21  2023-01-22        C   37.0  Product2  992.0  South       74.0
22  2023-01-23        B   62.0  Product3  942.0  North      124.0
23  2023-01-24        C   92.0  Product2  342.0   West      184.0
24  2023-01-25        A   24.0  Product2  458.0   East       48.0
25  2023-01-26        C   95.0  Product1  584.0   West      190.0
26  2023-01-27        C   71.0  Product2  619.0  North      142.0
27  2023-01-28        C   56.0  Product2  224.0  North      112.0
28  2023-01-29        B    NaN  Product3  617.0  North        NaN
29  2023-01-30        C   51.0  Product2  737.0  South      102.0
30  2023-01-31        B   50.0  Product3  735.0   West      100.0
31  2023-02-01        A   17.0  Product2  189.0   West       34.0
32  2023-02-02        B   63.0  Product3  338.0  South      126.0
33  2023-02-03        C   27.0  Product3    NaN   East       54.0
34  2023-02-04        C   70.0  Product3  669.0   West      140.0
35  2023-02-05        B   60.0  Product2    NaN   West      120.0
36  2023-02-06        C   36.0  Product3  177.0   East       72.0
37  2023-02-07        C    2.0  Product1    NaN  North        4.0
38  2023-02-08        C   94.0  Product1  408.0  South      188.0
39  2023-02-09        A   62.0  Product1  155.0   West      124.0
40  2023-02-10        B   15.0  Product1  578.0   East       30.0
41  2023-02-11        C   97.0  Product1  256.0   East      194.0
42  2023-02-12        A   93.0  Product3  164.0   West      186.0
43  2023-02-13        A   43.0  Product3  949.0   East       86.0
44  2023-02-14        A   96.0  Product3  830.0   East      192.0
45  2023-02-15        B   99.0  Product2  599.0   West      198.0
46  2023-02-16        B    6.0  Product1  938.0  South       12.0
47  2023-02-17        B   69.0  Product3  143.0   West      138.0
48  2023-02-18        C   65.0  Product3  182.0  North      130.0
49  2023-02-19        C   11.0  Product3  708.0  North       22.0

In [36]:
df.head(
    
)

         Date Category  Value   Product   Date Region  new value
0  2023-01-01        A   28.0  Product1  754.0   East       56.0
1  2023-01-02        B   39.0  Product3  110.0  North       78.0
2  2023-01-03        C   32.0  Product2  398.0   East       64.0
3  2023-01-04        B    8.0  Product1  522.0   East       16.0
4  2023-01-05        B   26.0  Product3  869.0  North       52.0

In [37]:
df.groupby('Product')["Value"].mean()

Product
Product1    46.214286
Product2    52.800000
Product3    55.166667
Name: Value, dtype: float64

In [38]:
df

          Date Category  Value   Product   Date Region  new value
0   2023-01-01        A   28.0  Product1  754.0   East       56.0
1   2023-01-02        B   39.0  Product3  110.0  North       78.0
2   2023-01-03        C   32.0  Product2  398.0   East       64.0
3   2023-01-04        B    8.0  Product1  522.0   East       16.0
4   2023-01-05        B   26.0  Product3  869.0  North       52.0
5   2023-01-06        B   54.0  Product3  192.0   West      108.0
6   2023-01-07        A   16.0  Product1  936.0   East       32.0
7   2023-01-08        C   89.0  Product1  488.0   West      178.0
8   2023-01-09        C   37.0  Product3  772.0   West       74.0
9   2023-01-10        A   22.0  Product2  834.0   West       44.0
10  2023-01-11        B    7.0  Product1  842.0  North       14.0
11  2023-01-12        B   60.0  Product2    NaN   West      120.0
12  2023-01-13        A   70.0  Product3  628.0  South      140.0
13  2023-01-14        A   69.0  Product1  423.0   East      138.0
14  2023-01-15        A   47.0  Product2  893.0   West       94.0
15  2023-01-16        C    NaN  Product1  895.0  North        NaN
16  2023-01-17        C   93.0  Product2  511.0  South      186.0
17  2023-01-18        C    NaN  Product1  108.0   West        NaN
18  2023-01-19        A   31.0  Product2  578.0   West       62.0
19  2023-01-20        A   59.0  Product1  736.0   East      118.0
20  2023-01-21        C   82.0  Product3  606.0  South      164.0
21  2023-01-22        C   37.0  Product2  992.0  South       74.0
22  2023-01-23        B   62.0  Product3  942.0  North      124.0
23  2023-01-24        C   92.0  Product2  342.0   West      184.0
24  2023-01-25        A   24.0  Product2  458.0   East       48.0
25  2023-01-26        C   95.0  Product1  584.0   West      190.0
26  2023-01-27        C   71.0  Product2  619.0  North      142.0
27  2023-01-28        C   56.0  Product2  224.0  North      112.0
28  2023-01-29        B    NaN  Product3  617.0  North        NaN
29  2023-01-30        C   51.0  Product2  737.0  South      102.0
30  2023-01-31        B   50.0  Product3  735.0   West      100.0
31  2023-02-01        A   17.0  Product2  189.0   West       34.0
32  2023-02-02        B   63.0  Product3  338.0  South      126.0
33  2023-02-03        C   27.0  Product3    NaN   East       54.0
34  2023-02-04        C   70.0  Product3  669.0   West      140.0
35  2023-02-05        B   60.0  Product2    NaN   West      120.0
36  2023-02-06        C   36.0  Product3  177.0   East       72.0
37  2023-02-07        C    2.0  Product1    NaN  North        4.0
38  2023-02-08        C   94.0  Product1  408.0  South      188.0
39  2023-02-09        A   62.0  Product1  155.0   West      124.0
40  2023-02-10        B   15.0  Product1  578.0   East       30.0
41  2023-02-11        C   97.0  Product1  256.0   East      194.0
42  2023-02-12        A   93.0  Product3  164.0   West      186.0
43  2023-02-13        A   43.0  Product3  949.0   East       86.0
44  2023-02-14        A   96.0  Product3  830.0   East      192.0
45  2023-02-15        B   99.0  Product2  599.0   West      198.0
46  2023-02-16        B    6.0  Product1  938.0  South       12.0
47  2023-02-17        B   69.0  Product3  143.0   West      138.0
48  2023-02-18        C   65.0  Product3  182.0  North      130.0
49  2023-02-19        C   11.0  Product3  708.0  North       22.0

In [39]:
df.groupby(['Product','Region'])['Value'].sum()

Product   Region
Product1  East      292.0
          North       9.0
          South     100.0
          West      246.0
Product2  East       56.0
          North     127.0
          South     181.0
          West      428.0
Product3  East      202.0
          North     203.0
          South     215.0
          West      373.0
Name: Value, dtype: float64